@charset "utf-8";

body {
	width:100%;
	font-family:'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
	background-color:#f9ec00;
}

header { background:linear-gradient(#48affe 0%, #75e4a6 50%, #e4eb1b 83.33%, #f9ec00 100%); }
header .header_wrap { width:100%; margin:0 auto; text-align:center; background:url(images/header_star.png) no-repeat; background-size:1400px; background-position:50% 6%; padding:100px 0 430px 0; }
header h1 { text-indent:30px; margin-bottom:60px; }
header h1 img { width:37%; min-width:568px; }
header p:nth-of-type(1) { font-size:1.45rem; font-weight:bold; line-height:1.55; }
header p:nth-of-type(2) { font-size:1.45rem; font-weight:bold; line-height:1.55; }

h3 { font-size:1.7rem; font-weight:bold; text-align:center; }
h2 { font-size:3.2rem; font-weight:bold; color:#48affe; text-align:center; margin-top:16px; }

.event1 { margin:-315px auto 0; width:1200px; }
.event1 .product { margin:80px 0 70px; position:relative; }
.event1 .product section img { width:100%; }
.event1 .product p img { position:absolute; }
.event1 .product p:nth-of-type(1) img { width:250px; top:134.5px; left:382px; }
.event1 .product p:nth-of-type(2) img { width:285px; top:87px; left:588px; z-index:999; }
.event1 .product p:nth-of-type(3) img { width:345px; top:18px; left:826px; }
.event1 .product_list { width:1200px; padding:0 125px; margin:0 auto; overflow:hidden; box-sizing:border-box; }
.event1 .product_list ul { float:left; margin-right:68px; }
.event1 .product_list ul:nth-of-type(3) { margin-right:0; }
.event1 .product_list ul li { font-size:1.2rem; overflow:hidden; cursor:pointer; margin-top:8px; margin-left:22px; padding:2px 0; }
.event1 .product_list ul li span { padding:0 2px; transition:.2s; }
.event1 .product_list ul li:hover span { background-color:#ffad33; }
.event1 .product_list ul li:nth-of-type(1) { font-size:1.6rem; font-weight:bold; color:#48affe; margin:0 0 32px; text-align:center; cursor:text; }
.event1 .product_list ul li em { display:block; width:1.2rem; height:1.2rem; background-color:#000; color:#f9ec00; font-weight:bold; margin-right:12px; text-align:center; border-radius:50%; font-size:1rem; line-height:1.1rem; float:left; }

.event2 { margin:135px auto 0; width:1200px; position:relative; }
.event2 section { position:absolute; padding:50px 0; width:48%; }
.event2 .store1 { top:130px; left:50px; background:url(images/store1_bg.png) no-repeat; background-size:100%; }
.event2 .store2 { top:190px; right:50px; background:url(images/store2_bg.png) no-repeat; background-size:100%; }
.event2 section > ul { overflow:hidden; font-size:18px; font-weight:bold; line-height:1.5; }
.event2 section > ul > li { text-align:center; }
.event2 section > ul > li:nth-of-type(1) { float:left; margin-left:108px; line-height:1; }
.event2 section > ul > li:nth-of-type(1) img { width:58px; }
.event2 section > ul > li:nth-of-type(2) { overflow:hidden; }
.event2 section > ul ul { float:left; text-align:left; line-height:1; }
.event2 section > ul ul li:first-child { font-size:20px; font-weight:bold; margin:15px 0 10px 20px; }
.event2 section > ul ul li:last-child { color:#ff8a00; font-size:37px; font-weight:bold; margin-left:35px; letter-spacing:-2px; }
.event2 section > ul > li:nth-of-type(3) { clear:left; margin:30px 0 20px; line-height:1; }
.event2 section > ul > li:nth-of-type(3) img { width:72%; }
.event2 section p { font-weight:bold; background-color:#ff8a00; text-align:center; width:55%; height:60px; line-height:60px; border-radius:50px; margin:15px auto 0; transition:.15s; }
.event2 section p:hover { background-color:#2e53bb; }
.event2 section a { display:block; font-size:20px; font-weight:bold; color:#fff; }

.event3 { clear:left; margin:950px auto 0; width:1200px; overflow:hidden; background:url(images/airplane.png) no-repeat; background-size:320px; background-position:841px 145px; }
.event3 > ul { margin-top:25px; position:relative; }
.event3 > ul li { position:absolute; }
.event3 > ul li:nth-of-type(1) { top:155.5px; left:65px; }
.event3 > ul li:nth-of-type(1) img { width:294px; }
.event3 > ul li:nth-of-type(2) { position:relative; left:702px; top:143px; }
.event3 > ul li:nth-of-type(2) img { position:absolute; }
.event3 > ul li:nth-of-type(2) img:nth-of-type(1) { width:150px; }
.event3 > ul li:nth-of-type(2) img:nth-of-type(2) { width:115px; left:18px; top:125px; }
.event3 > ul li:nth-of-type(3) { position:relative; left:350px; }
.event3 > ul li:nth-of-type(3) img { position:absolute; }
.event3 > ul li:nth-of-type(3) img:nth-of-type(1) { width:365px; }
.event3 > ul li:nth-of-type(3) img:nth-of-type(2) { width:255px; top:140px; left:52px; }
.event3 > ul li:nth-of-type(3) img:nth-of-type(3) { width:225px; top:215px; left:70px; }
.event3 .notice { margin-top:373px; padding:40px; background-color:#fffa9f; overflow:hidden; }
.event3 .notice ul { float:left; margin:0 23.4px; }
.event3 .notice ul li { font-weight:bold; font-size:17px; line-height:1.5; }
.event3 .notice ul:nth-of-type(1) { text-align:center; font-size:21px; }
.event3 .notice ul:nth-of-type(1) i { font-size:24px; margin-top:10px; margin-bottom:8px; }
.event3 .notice ul:nth-of-type(2) { color:#4b4d4c; }
.event3 .notice ul:nth-of-type(3) { color:#4b4d4c; }

.event4 { margin-top:67.5px; background-color:#48affe; padding:67.5px 0; }
.event4 h2 { width:1200px; margin:0 auto; color:#f9ec00; text-transform:uppercase; }
.event4 h3 { width:1200px; margin:16px auto 0; color:#fff; }
.event4 p { width:1200px; text-align:center; margin:30px auto 0; background:url(images/event4_bg.png) no-repeat; background-size:100%; background-position:center; }
.event4 .back { text-align:center; margin-top:25px; }
.event4 .back a { text-transform:uppercase; font-weight:bold; font-size:1.7rem; color:#c93196; }
.event4 .back a:hover { color:#165fc6; }